
.root {
    /* color constants */
    theme-color:                rgb(193, 134, 38);
    nav-bar-color:              rgb(60, 56, 54);
    nav-active-color:           rgb(142, 100, 28);
    nav-hover-color:            rgba(193, 134, 38, 0.4); /* similar to theme-color */
    action-bar-color:           rgb(236, 235, 231);
    action-title-text-color:    rgb(60, 56, 54);
    action-inactive-text-color: rgb(168, 151, 147);
    action-active-text-color:   rgb(102, 96, 93);
    separator-color:            rgb(218, 218, 217);
}

/****************************************
 * general control re-style customization
 */

.button {
    /* clear style */
    -fx-background-color: transparent;
}

.minimal-btn {
    -fx-text-fill: white;
    -fx-background-color: nav-bar-color;
}

.tab {
    /* clearing some more style */
    -fx-background-color: transparent;
}
.tab-header-area {
    /* tighten header-area around tab buttons */
    -fx-padding: 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    /* hide focus border */
    -fx-border-width: 0;
}

.separator {
    -fx-background-color: separator-color;
    -fx-min-height: 2px;
}


/*******************
  * component styles
  */

/* action bars are the long bars across the top */
.action-bar {
    -fx-background-color: action-bar-color;
    -fx-alignment: center-left;
    -fx-padding: 12;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
}
/* Top bar with name of selected action */
.action-label {
    -fx-text-fill: action-title-text-color;
}

/* navigation tabpane style */
#nav, .tab-header-background {
    -fx-background-color: nav-bar-color;
}

#nav, .tab-content-area {
    -fx-background-color: white;
}
#nav, .tab-pane {
    /* since nav's tabs are sideways 
    the height is the actual width */
    -fx-tab-min-height: 40;
    /* without text the tabs collapse
        so give a min width */
    -fx-tab-min-width: 40;
}
#nav, .tab {
    -fx-padding: 0;
}
  
.action-tab-pane .tab {
    /* spacing buttons (note 20 is aligned with Title above) */
    -fx-padding: 20 20 20 20;
}
.action-tab-pane .tab-header-background {
    -fx-background-color: action-bar-color;
}
.action-tab-pane .tab-label {
    -fx-font-family: 'Arial Narrow';
    -fx-font-size: 20pt;
    -fx-text-fill: action-inactive-text-color;
    -fx-label-padding: -4;
}
.action-tab-pane .tab:selected .tab-label {
    -fx-text-fill: action-active-text-color;
}

/* grid pane does not have a selector
    this one was created manually */
.grid-pane {
    -fx-hhap: 20;
    -fx-padding: 20;
}

#hamburger {
    -fx-background-image: url(img/hamburger.png);
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: theme-color;
}

.tab-icon {
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}

.tab-icon:hover {
    -fx-background-color: nav-hover-color;
}
.tab-icon:selected {
    -fx-background-color: nav-active-color;
}
#generate-tab {
    -fx-background-image: url(img/generate.png);
}
#import-tab {
    -fx-background-image: url(img/import.png);
}
#edit-tab {
    -fx-background-image: url(img/edit.png);
}